In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("setores.xlsx")
print(df.columns)

setores_lbl = [ 'CUIABA - BAL-Au (g/t)', 'CUIABA - BAL-S (%)',
       'CUIABA - CGA-Au (g/t)', 'CUIABA - CGA-S (%)', 'CUIABA - FGS-Au (g/t)',
       'CUIABA - FGS-S (%)', 'CUIABA - GAL-Au (g/t)', 'CUIABA - GAL-S (%)',
       'CUIABA - GFW-Au (g/t)', 'CUIABA - GFW-S (%)', 'CUIABA - LIG-Au (g/t)',
       'CUIABA - LIG-S (%)', 'CUIABA - SER-Au (g/t)', 'CUIABA - SER-S (%)',
       'CUIABA - VQZ-Au (g/t)', 'CUIABA - VQZ-S (%)', 'LAMEGO - ARA-Au (g/t)',
       'LAMEGO - ARA-S (%)', 'LAMEGO - ARC-Au (g/t)', 'LAMEGO - ARC-S (%)',
       'LAMEGO - ARD-Au (g/t)', 'LAMEGO - ARD-S (%)', 'LAMEGO - ARS-Au (g/t)',
       'LAMEGO - ARS-S (%)', 'LAMEGO - ARV-Au (g/t)', 'LAMEGO - ARV-S (%)',
       'LAMEGO - CAR-Au (g/t)', 'LAMEGO - CAR-S (%)', 'LAMEGO - DAS-Au (g/t)',
       'LAMEGO - DAS-S (%)', 'LAMEGO - DSC-Au (g/t)', 'LAMEGO - DSC-S (%)',
       'LAMEGO - DSQ-Au (g/t)', 'LAMEGO - DSQ-S (%)', 'LAMEGO - MD-Au (g/t)',
       'LAMEGO - MD-S (%)', 'LAMEGO - QMD-Au (g/t)', 'LAMEGO - QMD-S (%)',
       'LAMEGO - V-Au (g/t)', 'LAMEGO - V-S (%)']

metalurgical_lbl = ['Rec Au Flot (%)','Rec Au Lix (%)', 'Rec Au Grav (%)', 'Rec Au (%)']

Index(['Identificação', 'Data', 'CUIABA - BAL-Au (g/t)', 'CUIABA - BAL-S (%)',
       'CUIABA - CGA-Au (g/t)', 'CUIABA - CGA-S (%)', 'CUIABA - FGS-Au (g/t)',
       'CUIABA - FGS-S (%)', 'CUIABA - GAL-Au (g/t)', 'CUIABA - GAL-S (%)',
       'CUIABA - GFW-Au (g/t)', 'CUIABA - GFW-S (%)', 'CUIABA - LIG-Au (g/t)',
       'CUIABA - LIG-S (%)', 'CUIABA - SER-Au (g/t)', 'CUIABA - SER-S (%)',
       'CUIABA - VQZ-Au (g/t)', 'CUIABA - VQZ-S (%)', 'LAMEGO - ARA-Au (g/t)',
       'LAMEGO - ARA-S (%)', 'LAMEGO - ARC-Au (g/t)', 'LAMEGO - ARC-S (%)',
       'LAMEGO - ARD-Au (g/t)', 'LAMEGO - ARD-S (%)', 'LAMEGO - ARS-Au (g/t)',
       'LAMEGO - ARS-S (%)', 'LAMEGO - ARV-Au (g/t)', 'LAMEGO - ARV-S (%)',
       'LAMEGO - CAR-Au (g/t)', 'LAMEGO - CAR-S (%)', 'LAMEGO - DAS-Au (g/t)',
       'LAMEGO - DAS-S (%)', 'LAMEGO - DSC-Au (g/t)', 'LAMEGO - DSC-S (%)',
       'LAMEGO - DSQ-Au (g/t)', 'LAMEGO - DSQ-S (%)', 'LAMEGO - MD-Au (g/t)',
       'LAMEGO - MD-S (%)', 'LAMEGO - QMD-Au (g/t)', 'LAMEGO - QMD-S (%)',
       'LAMEGO - V-Au (g/t)', 'LAMEGO - V-S (%)', 'Rec Au Flot (%)',
       'Rec Au Lix (%)', 'Rec Au Grav (%)', 'Rec Au (%)'],
      dtype='object')

In [51]:
# DIVISÃO DE CLUSTERS



cluster_1_gold = ["CUIABA - BAL-Au\xa0(g/t)", "CUIABA - CGA-Au\xa0(g/t)", "CUIABA - FGS-Au\xa0(g/t)", "CUIABA - GAL-Au\xa0(g/t)", 
       "CUIABA - GFW-Au\xa0(g/t)", "CUIABA - SER-Au\xa0(g/t)", "CUIABA - VQZ-Au\xa0(g/t)"]

cluster_1_S = ['CUIABA - BAL-S\xa0(%)', 'CUIABA - CGA-S\xa0(%)', 'CUIABA - FGS-S\xa0(%)', 'CUIABA - GAL-S\xa0(%)',
       'CUIABA - GFW-S\xa0(%)', 'CUIABA - SER-S\xa0(%)', 'CUIABA - VQZ-S\xa0(%)']

cluster_2_gold = [ 'LAMEGO - ARA-Au\xa0(g/t)','LAMEGO - MD-Au\xa0(g/t)','LAMEGO - V-Au\xa0(g/t)', 'LAMEGO - DSC-Au\xa0(g/t)']

cluster_2_S = [ 'LAMEGO - ARA-S\xa0(%)', 'LAMEGO - MD-S\xa0(%)', 'LAMEGO - V-S\xa0(%)', 'LAMEGO - DSC-S\xa0(%)']
                  
          
cluster_3_gold = [ 'LAMEGO - DAS-Au\xa0(g/t)','LAMEGO - ARD-Au\xa0(g/t)', 'LAMEGO - ARS-Au\xa0(g/t)',  'LAMEGO - DSQ-Au\xa0(g/t)', 'LAMEGO - ARC-Au\xa0(g/t)']  

cluster_3_S = ['LAMEGO - DAS-S\xa0(%)', 'LAMEGO - ARD-S\xa0(%)',  'LAMEGO - ARS-S\xa0(%)', 'LAMEGO - DSQ-S\xa0(%)' ,'LAMEGO - ARC-S\xa0(%)']  
                  
cluster_4_gold = ['LAMEGO - ARV-Au\xa0(g/t)', 'LAMEGO - CAR-Au\xa0(g/t)', 'LAMEGO - QMD-Au\xa0(g/t)']

cluster_4_S = ['LAMEGO - ARV-S\xa0(%)', 'LAMEGO - CAR-S\xa0(%)',  'LAMEGO - QMD-S\xa0(%)']

cluster_1_gold_cumsum = np.average(df[cluster_1_gold], axis =1)
cluster_1_S_cumsum = np.average(df[cluster_1_S], axis =1)
cluster_2_gold_cumsum = np.average(df[cluster_2_gold], axis =1)
cluster_2_S_cumsum = np.average(df[cluster_2_S], axis =1)
cluster_3_gold_cumsum = np.average(df[cluster_3_gold], axis =1)
cluster_3_S_cumsum = np.average(df[cluster_3_S], axis =1)
cluster_4_gold_cumsum = np.average(df[cluster_4_gold], axis =1)
cluster_4_S_cumsum = np.average(df[cluster_4_S], axis =1)

df_clusters = pd.DataFrame(np.array([cluster_1_gold_cumsum, cluster_1_S_cumsum,
               cluster_2_gold_cumsum, cluster_2_S_cumsum,
               cluster_3_gold_cumsum, cluster_3_S_cumsum, 
               cluster_4_gold_cumsum, cluster_4_S_cumsum ]).T, 
               columns =['cluster 1- gold' , 'cluster 1-S',
                         'cluster 2- gold'  , 'cluster 2-S',
                         'cluster 3- gold' , 'cluster 3-S',
                         'cluster 4- gold' , 'cluster 4-S'])
df_clusters.to_excel('clusters.xlsx')

display(df_clusters)

,cluster 1- gold,cluster 1-S,cluster 2- gold,cluster 2-S,cluster 3- gold,cluster 3-S,cluster 4- gold,cluster 4-S
0,1.681143,2.147857,0.0,0.0,0.0,0.0,0.000000,0.000000
1,1.759143,1.997143,0.0,0.0,0.0,0.0,0.000000,0.000000
2,2.484429,2.439857,0.0,0.0,0.0,0.0,0.000000,0.000000
3,2.609286,2.357857,0.0,0.0,0.0,0.0,0.000000,0.000000
4,2.758143,2.028286,0.0,0.0,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...
1481,0.000000,0.000000,0.0,0.0,0.0,0.0,3.884333,2.504333
1482,0.000000,0.000000,0.0,0.0,0.0,0.0,2.057000,1.909000
1483,0.000000,0.000000,0.0,0.0,0.0,0.0,2.930333,2.547333
1484,0.000000,0.000000,0.0,0.0,0.0,0.0,1.371333,1.518667
1485,0.000000,0.000000,0.0,0.0,0.0,0.0,3.429000,2.954667

In [78]:
from scipy.stats import pearsonr
from scipy.stats import spearmanr


df_clusters['Rec Au Flot (%)'] = df['Rec Au Flot (%)']
df_clusters['Rec Au Lix (%)'] = df['Rec Au Lix (%)']
df_clusters['Rec Au Grav (%)'] = df['Rec Au Grav (%)']
df_clusters['Rec Au (%)'] = df['Rec Au (%)']


display(df_clusters.corr(method = 'spearman')[metalurgical_lbl][0:8])
print(df_clusters.corr(method = 'spearman')['Rec Au (%)'][0:8])

                 Rec Au Flot (%)  Rec Au Lix (%)  Rec Au Grav (%)  Rec Au (%)
cluster 1- gold         0.149991        0.244677        -0.214263    0.035634
cluster 1-S             0.152256        0.264761        -0.217279    0.045496
cluster 2- gold         0.044489       -0.060080         0.061618    0.060308
cluster 2-S             0.044571       -0.060082         0.061594    0.060297
cluster 3- gold         0.016697       -0.054271         0.074602    0.087280
cluster 3-S             0.016967       -0.054461         0.074558    0.087095
cluster 4- gold        -0.130914       -0.245551         0.156813   -0.072295
cluster 4-S            -0.133131       -0.252757         0.150599   -0.074110

cluster 1- gold    0.035634
cluster 1-S        0.045496
cluster 2- gold    0.060308
cluster 2-S        0.060297
cluster 3- gold    0.087280
cluster 3-S        0.087095
cluster 4- gold   -0.072295
cluster 4-S       -0.074110
Name: Rec Au (%), dtype: float64